In [1]:
#dependencies
import pandas as pd

In [3]:
#read in csv file
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3P2HIOQCIN5ZU,1,0,0,N,Y
1,R12VVR0WH5Q24V,5,0,0,N,Y
2,RNCCKB6TV5EEF,4,0,0,N,Y
3,R2NZXYIVCGB13W,5,0,6,N,Y
4,R2EQ1TG9IT3OEQ,3,0,0,N,Y

In [9]:
#filter df for only total votes > 20
vine_20 = vine_df[vine_df.total_votes>=20]
vine_20.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

In [12]:
#filter for helpful votes divided total votes => 50%
vine_greater_50 = vine_20[vine_20.helpful_votes/vine_20.total_votes >=.50]
vine_greater_50

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y
...,...,...,...,...,...,...
4366751,R1FALBZOUYCZTD,5,29,31,N,N
4366765,R7M3UQX8B04NM,5,20,21,N,N
4366771,R1UYT6MT2IOAJN,5,23,24,N,N
4366844,R3QRYRJWX0N6H3,4,29,33,N,N
4366886,R20WGBU79NREU,5,14,20,N,N

In [15]:
vine_Y_df = vine_greater_50[vine_greater_50.vine == 'Y']
vine_Y_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270349,R2N45ZKRRZS856,5,21,22,Y,N
306676,R5OMLMK13A8NS,5,34,38,Y,N
1050160,R2MPEQ4SPTEQNS,4,180,184,Y,N
1224726,RIR0D3KJ0CQ31,4,21,21,Y,N
1231743,R1SPWJDHUWWC5E,5,88,98,Y,N
1243026,R1X6M5XA3FT98W,5,24,26,Y,N
1268364,R37VCW6HA0Z72T,5,27,28,Y,N
1290559,R2XRYNV2SY3ZKL,5,53,56,Y,N
1312559,R1Y93KWKAX1P5N,2,26,31,Y,N
1312914,R2QVTDYYLTP8SL,5,21,24,Y,N
1315594,R3KOK2SH39BZU1,3,94,96,Y,N
1319788,R2VOM73EHLPXJW,4,35,38,Y,N
1327911,R3SEZS7BZEC69Y,5,16,20,Y,N
1330791,R1MJ5J272V19O6,4,49,51,Y,N
1348086,R3A7BQX1JDKOM5,4,20,20,Y,N
1509983,R1307JMPUEQXOW,5,31,35,Y,N
1622137,RXV0SDXE5B15T,2,39,42,Y,N
2373630,RBMDYE7LUH9FI,5,26,32,Y,N
2439075,R1N4W961QV59BV,5,25,34,Y,N
2440481,R11XKHFS4KQS3Z,4,205,211,Y,N
2462716,R2AT1A0VUSY955,5,22,24,Y,N
3791315,RMFBF4KEBW9RK,5,37,43,Y,N

In [16]:
vine_N_df = vine_greater_50[vine_greater_50.vine == 'N']
vine_N_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y
...,...,...,...,...,...,...
4366751,R1FALBZOUYCZTD,5,29,31,N,N
4366765,R7M3UQX8B04NM,5,20,21,N,N
4366771,R1UYT6MT2IOAJN,5,23,24,N,N
4366844,R3QRYRJWX0N6H3,4,29,33,N,N
4366886,R20WGBU79NREU,5,14,20,N,N

In [17]:
#total number of reviews
vine_df.count()

review_id            4366916
star_rating          4366916
helpful_votes        4366916
total_votes          4366916
vine                 4366916
verified_purchase    4366916
dtype: int64

In [21]:
#total number of 5 star rated reviews
vine_df[vine_df.star_rating==5].count()

review_id            2639935
star_rating          2639935
helpful_votes        2639935
total_votes          2639935
vine                 2639935
verified_purchase    2639935
dtype: int64

In [26]:
#percentage of 5-star reviews for paid and unpaid
num_paid = vine_Y_df.count()
percent_paid = num_paid/2639935
percent_paid

review_id            0.000008
star_rating          0.000008
helpful_votes        0.000008
total_votes          0.000008
vine                 0.000008
verified_purchase    0.000008
dtype: float64

In [29]:
#percentage of 5-star reviews for unpaid
num_unpaid =  vine_N_df.count()
percent_unpaid = num_unpaid/2639935
percent_unpaid

review_id            0.010223
star_rating          0.010223
helpful_votes        0.010223
total_votes          0.010223
vine                 0.010223
verified_purchase    0.010223
dtype: float64